button {
    font-size: 15px !important;
    background-color: #9c3725;
    border-color:black !important;
    border-radius:2%;
    border-style: solid;
    transition-duration:1s;

}
button:hover{
    transition-duration: 1s;
   /* background-color: #657786;*/
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid black; 
    border-radius: 1%;
}
h1{
    animation-name: shadow;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
@keyframes shadow{
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.50;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}
